.restaurant-button {
    position: fixed;
    top: 40px;
    right: 100px;
    width: 20%;
    z-index: 10;
}

.tarjeta-mesa {
    margin-top: 5%;
}

.contenido-mesas {
    overflow: auto;
    height: 800px;
}

.boton-detalle-mesa {
    position: absolute;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    left: 0;
    bottom: 0;
}

.boton-cerrar {
    position: relative;
    bottom: 0;
    margin-bottom: 0%;
    height: 4vh;
}