.restaurant-button {
  position: fixed;
  top: 40px;
  right: 100px;
  width: 20%;
  z-index: 10;
}

.tarjeta-mesa {
  margin-top: 7%;
  
  width: 15vw;
}

.contenido-mesas {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
  width: 100vw;
  height: 99vh;
}

.boton-detalle-mesa {
  width: 100%;
}

.boton-cerrar {
  position: relative;
  bottom: 0;
  margin-bottom: 0%;
  height: 4vh;
}


