.container-fluid{
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  }

  .container-fluid h1 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

.btn-secondary {
    color: #fff;
    background-color: #f68521;
    border-color: #f68521;
}

/* The side navigation menu */
.sidebar {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Sidebar links */
.sidebar a {
  display: flex;
  color: rgb(165, 161, 161);
  padding: 16px;
  text-decoration: none;
  margin-top: 3%;
  align-items: left;
  font-size: large;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #ffdb774f;
  color: rgb(255, 208, 0);
  width: 16.33%;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:#ffdb774f;
  color:  rgb(255, 208, 0);
  width: 16.3%;
  text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  padding: 1px 16px;
  height: 100%;
}

/* On screens that are more than 700px wide */
@media screen and (min-width: 700px) {
  .sidebar {
    min-width: 100%;
    height: 100%;
  }
  div.content {margin-left: 0;}
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Dashboard */

.dashboard{
  background-color: rgb(189, 189, 189);
}

.side{
  padding-left: 0px !important;
  padding-right: 0px !important;

}

/* Dashboard Componentes */

    /* General */

.dashboard-componente{
  background-color: white;
  height: 350px;
}

.dashboard-componente h1{
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.dashboard-componente h2{
  font-size: medium;
  font-weight: bold;
  text-align: left;
}

.dashboard-componente button{
  color: black;
  background-color:  rgba(228, 228, 228, 0.404);
  border: 2px solid black;

}

.dashboard-componente button:hover{
  color: black;
  background-color:  #f68521;
  border: 2px solid black;

}

.dashboard-componente p {
  font-size: small;
  text-align: left;
}

.dashboard-componente p1{
  font-size: medium;
  color: #f68521;
  float: center;
  font-weight: bold;
}
    /* Status */

.dashboard-componente-status{
  background-color: white;
  height: 115px;
  margin-bottom: 10px;
  text-align: center;
  
}

#restaurante-ahora{
  padding-top: 20px;
}


.dashboard-componente-status h1{
  position: center;
  font-size: medium;
  text-align: center;
}

.dashboard-componente-status p{
  font-size: xx-large;
  font-weight: bold;
}

    /* Mejores */

.dashboard-componente-mejores{
  background-color: white;
  height: 225px;
  margin-top: 10px;
  margin-bottom: 5%;
}

.dashboard-componente-mejores h1{
  font-size: large;
}

.dashboard-componente-mejores h2{
  font-size: medium;
}

.dashboard-componente-mejores p{
  font-size: x-small;
}

/*  Navbar */ 

.navbar {
  max-height: 80px;
  padding-top: 10px;
  
}

/* Contenido */

#contenido{
  background-color: rgba(228, 228, 228, 0.404);
  height: 100%;
}


/* Imagenes */

.waitqr-logo {
    height: 150px;
    width: 150px; 
    margin-right: 10%;
    margin-left: 1%;
    margin-bottom: 0px;
}

.platillos-probados {
  height: 300px;
  width: 370px; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: 3%;

}

.ordenes {
  height: 250px;
  width: 350px; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: 3%;
}

.help {
  height: 200px;
  width: 220px; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: 3%;
}


/* LogIn */

#login{
}