.dropdown-seccion {
  position: relative;
  width: 100%;
  margin-right: 0%;
  margin-top: 1%;
}

.tarjeta-orden {
  margin-top: 15%;
  height: 47vh;
  width: 15vw !important;
}

.col-tarjeta-orden {
  width: 15vw !important;
  flex-grow: 0;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
}

.container-tarjeta-orden {
  height: 95vh;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
}
.dropdown-restaurante {
  z-index: 10;
}

.restaurant-button {
  position: fixed;
  top: 80px;
  right: 15px;
  width: 290px;
  z-index: 10;
}
