.sidebar-menu {
    min-height: 87vh !important;
background-color: rgba(43, 160, 189, 0.082);
margin-top:2.5vh;}

.sidebar-text{
    color: rgb(7, 46, 72);
    padding-top: 12%;
    margin-bottom: 30%;
    margin-left: 5%;
    font-weight: bold;
}

.sidebar-text-active{
    font-weight: bold;
    margin-top: 25%;
    margin-bottom: 30%;
    color:rgb(246, 134, 33);
    margin-left: 5%;
    width: 110%;
    background-color: rgb(245, 246, 249)
}

.sidebar-text-active:hover{    
    color:rgb(246, 134, 33);
}

.sidebar-text:hover{
    color:rgb(246, 134, 33)
}

.sidebar-title {
    font-size: large;
    padding-top: 2%;
    text-align: center;
    color:rgb(246, 134, 33);
    font-weight: bold;

}

.sidebar-title:hover {
    font-size: large;
    padding-top: 2%;
    text-align: center;
    color:rgb(246, 134, 33);
    font-weight: bold;

}

.sidebar-sub-title {
    font-size: small;
    font-weight: bold;
    color:rgb(246, 134, 33);
}

.sidebar-sub-title:hover {
    color: rgb(43, 160, 189);

}
