.sidebar-menu {
    min-height: 87vh !important;
background-color: rgb(255, 255, 255);
margin-top:2.5vh;}

.sidebar-text{
    color: rgb(7, 46, 72);
    padding-top: 12%;
    margin-bottom: 30%;
    margin-left: 5%;
    font-weight: bold;
}

.sidebar-text-active{
    font-weight: bold;
    margin-top: 25%;
    margin-bottom: 30%;
    color:rgb(246, 134, 33);
    margin-left: 5%;
    width: 110%;
    background-color: rgb(245, 246, 249)
}

.sidebar-text-active:hover{    
    color:rgb(246, 134, 33);
}

.sidebar-text:hover{
    color:rgb(246, 134, 33)
}

.sidebar-title {
    font-size: large;
    padding-top: 2%;
    text-align: center;
    color:rgb(246, 134, 33);
    font-weight: bold;

}

.sidebar-title:hover {
    font-size: large;
    padding-top: 2%;
    text-align: center;
    color:rgb(246, 134, 33);
    font-weight: bold;

}

.sidebar-sub-title {
    font-size: small;
    font-weight: bold;
    color:rgb(246, 134, 33);
}

.sidebar-sub-title:hover {
    color: rgb(43, 160, 189);
}

.boton-platillo {
    position: fixed;
    width: 60%; 
    bottom: 3%;
    left: 35%;
    /*background-color: #FDD000;
    border-color: #FDD000;*/
}

.boton-categoria {
    position: fixed;
    width: 13%;
    left: 16.6%;
    bottom: 2%;
    background-color: rgba(246, 132, 33, 0);
}

.boton-disponible {
    position: absolute;
    right: 0px;
}

.boton-editar {
    margin-top: 15%
}

.boton-menu {
    width: 100%;
    right: -160%;
    margin-top: 4%;
}

.boton-restaurante {
    width: 100%;
    right: -75%;
    margin-top: 4%;
}

.input-nombre {
    width: 100%;
    margin-bottom: 3%;
}

.input-desc {
    margin-top: 2%;
    width: 166%;
    margin-bottom: 5%;
}

.input-dinero {
    width: 182%;
    margin-left: -4%;
    margin-bottom: 5%;
}

.input-seccion{
    width: 80.5%;
    margin-bottom: 5%;
}

.input-imagen {
    margin-bottom: 5%;
}

.boton-orden-aceptar{
    position: relative;
    bottom: -39%;
    left: -4%;
    width: 60%;

}
.boton-orden-rechazar{
    position: relative;
    bottom: -39%;
    right: -7%;
}

.disponible-edit-platillo{
    align-self: center;
}

.input-categoria{
    width: 0%;
    margin-bottom: 3%;
}