.boton-descargar {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 0%;
}

.boton-filtrar {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 0%;
}

.dropdown-restaurantes {
    margin-top: -4%;
    margin-left: 89%;
}